In [98]:
import pandas as pd

df = pd.read_csv('archive/olympic_results.csv')

In [99]:
df['slug_game'].unique()

array(['beijing-2022', 'tokyo-2020', 'pyeongchang-2018', 'rio-2016',
       'sochi-2014', 'london-2012', 'vancouver-2010', 'beijing-2008',
       'turin-2006', 'athens-2004', 'salt-lake-city-2002', 'sydney-2000',
       'nagano-1998', 'atlanta-1996', 'lillehammer-1994',
       'barcelona-1992', 'albertville-1992', 'seoul-1988', 'calgary-1988',
       'los-angeles-1984', 'sarajevo-1984', 'moscow-1980',
       'lake-placid-1980', 'montreal-1976', 'innsbruck-1976',
       'munich-1972', 'sapporo-1972', 'mexico-city-1968', 'grenoble-1968',
       'tokyo-1964', 'innsbruck-1964', 'rome-1960', 'squaw-valley-1960',
       'melbourne-1956', 'cortina-d-ampezzo-1956', 'helsinki-1952',
       'oslo-1952', 'london-1948', 'st-moritz-1948', 'berlin-1936',
       'garmisch-partenkirchen-1936', 'los-angeles-1932',
       'lake-placid-1932', 'amsterdam-1928', 'st-moritz-1928',
       'paris-1924', 'chamonix-1924', 'antwerp-1920', 'stockholm-1912',
       'london-1908', 'st-louis-1904', 'paris-1900', 'athens-1896'],
      dtype=object)

In [100]:
# éditions d'été de 1948 à 2020
game_slugs = [
    'tokyo-2020',  'rio-2016',
    'london-2012', 'beijing-2008',
    'athens-2004', 'sydney-2000', 'atlanta-1996',
    'barcelona-1992', 'seoul-1988',
    'los-angeles-1984',  'moscow-1980', 'montreal-1976',
    'munich-1972', 'mexico-city-1968',
    'tokyo-1964', 'rome-1960',
    'melbourne-1956', 'helsinki-1952','london-1948'
]

df = df[df['slug_game'].apply(lambda x: x in game_slugs)]

df['slug_game'].unique()

array(['tokyo-2020', 'rio-2016', 'london-2012', 'beijing-2008',
       'athens-2004', 'sydney-2000', 'atlanta-1996', 'barcelona-1992',
       'seoul-1988', 'los-angeles-1984', 'moscow-1980', 'montreal-1976',
       'munich-1972', 'mexico-city-1968', 'tokyo-1964', 'rome-1960',
       'melbourne-1956', 'helsinki-1952', 'london-1948'], dtype=object)

In [101]:
# sports continus de 1948 à 1988
sports_summer_before = ['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
                 'Boxing', 'Basketball', 'Cycling Track', 'Fencing',
                 'Water Polo', 'Wrestling', 'Artistic Gymnastics',
                 'Weightlifting', 'Modern Pentathlon', 'Hockey'
                 'Athletics', 'Swimming', 'Sailing', 'Rowing']

# éditions de 1948 à 1988
editions_to_1988 = ['seoul-1988',
    'los-angeles-1984',  'moscow-1980', 'montreal-1976',
    'munich-1972', 'mexico-city-1968',
    'tokyo-1964', 'rome-1960',
    'melbourne-1956', 'helsinki-1952','london-1948'
]


df_summer_before_1988 = df[df['discipline_title'].apply(lambda x: x in sports_summer_before)]
df_summer_before_1988 = df[df['slug_game'].apply(lambda x: x in editions_to_1988)]

df_summer_before_1988.shape

(42585, 15)

In [102]:
# sports continus de 1992 à 2020
sports_summer_after = ['Shooting', 'Diving', 'Canoe Sprint', 'Cycling Road', 'Football',
                 'Boxing', 'Basketball', 'Cycling Track', 'Fencing', 'Table Tennis', 'Badminton',
                 'Water Polo', 'Wrestling', 'Artistic Gymnastics', 'Canoe Slalom', 'Rhythmic Gymnastics',
                 'Weightlifting', 'Modern Pentathlon', 'Hockey', 'Volleyball', 'Artistic Swimming', 
                 'Athletics', 'Swimming', 'Sailing', 'Rowing', 'Tennis', 'Equestrian', 'Archery', 'Handball', 'Judo']

# éditions de 1992 à 2020
editions_after_1988 = ['tokyo-2020',  'rio-2016',
    'london-2012', 'beijing-2008',
    'athens-2004', 'sydney-2000', 'atlanta-1996',
    'barcelona-1992']


df_summer_after_1988 = df[df['discipline_title'].apply(lambda x: x in sports_summer_after)]
df_summer_after_1988 = df[df['slug_game'].apply(lambda x: x in editions_after_1988)]

df_summer_after_1988.shape

(57491, 15)

In [103]:
df_summer_after_1988

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
3784,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,ESP,NaN,NaN,NaN,NaN
3785,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,SMR,NaN,NaN,NaN,NaN
3786,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,USA,NaN,NaN,NaN,NaN
3787,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,SVK,NaN,NaN,NaN,NaN
3788,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,JPN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83339,Table Tennis,Singles men,barcelona-1992,Athlete,NaN,NaN,True,49,Tunisia,TN,TUN,https://olympics.com/en/athletes/mourad-sta,Mourad STA,NaN,NaN
83340,Table Tennis,Singles men,barcelona-1992,Athlete,NaN,NaN,True,49,Saudi Arabia,SA,KSA,https://olympics.com/en/athletes/raed-hamdan,Raed HAMDAN,NaN,NaN
83341,Table Tennis,Singles men,barcelona-1992,Athlete,NaN,NaN,True,49,Cuba,CU,CUB,https://olympics.com/en/athletes/ruben-arado,Ruben ARADO,NaN,NaN
83342,Table Tennis,Singles men,barcelona-1992,Athlete,NaN,NaN,True,49,Cuba,CU,CUB,https://olympics.com/en/athletes/santiago-roque,Santiago ROQUE,NaN,NaN
83343,Table Tennis,Singles men,barcelona-1992,Athlete,NaN,NaN,True,49,Peru,PE,PER,https://olympics.com/en/athletes/yair-nathan,Yair NATHAN,NaN,NaN